:global(.vtex-flex-layout-0-x-flexCol--newsletter-col) {
  background-image: url("assets/images/background-newsletter.png");
  background-repeat: no-repeat;

  @media only screen and (min-width: 769px) {
    min-height: 321px;
  }
  @media only screen and (max-width: 768px) {
    min-height: 226px;
  }
}
//dev1
.newsletterForm--newsletter-form {
  @media only screen and (min-width: 769px) {
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    margin: 0 auto;
    max-width: 630px;

    .nameInputContainer {
      margin-right: 17px;
      min-width: 270px;
    }
  }

  @media only screen and (max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    max-width: 688px;
    gap: 10px;

    .formSubmitContainer {
      justify-self: center;
    }
  }

  @media only screen and (max-width: 360px) {
    max-width: 290px;
  }

  .nameInputContainer,
  .emailInputContainer {
    :global(.vtex-styleguide-9-x-input) {
      border-radius: 0;
      outline: none;
    }
  }
}
