@import "./variables/all";
//dev1
.home {
  &Link {
    padding-left: 0;

    &::before {
      content: "Home";
      display: block;
      color: $primary;
      font-weight: 700;
    }
  }

  &Icon {
    display: none;
  }
}
.link,
.term,
.homeLink {
  font-size: 11px;
  color: $gray-2;
}

.arrow {
  padding: 0;
}
.caretIcon {
  display: none;
}
