@import "variables/all";

@import "./components/header/minicart";

.minicartWrapperContainer {
  .openIconContainer {
    padding: 0;

    :global(.vtex-button) {
      min-height: auto;
      padding: 5px;
      border: 0;

      @media only screen and (max-width: 768px) {
        padding-bottom: 10px;
      }

      :global(.vtex-button__label) {
        padding: 0;

        .minicartIconContainer {
          @media only screen and (min-width: 768px) {
            &::before {
              content: url("assets/svg/shopping-cart.svg");

              @media only screen and (min-width: 1025px) {
                background-size: 19.91px 26px;
                width: 19.91px;
                height: 26px;
              }
            }

            .cartIcon {
              display: none;
            }
          }

          .minicartQuantityBadge {
            width: 15px;
            height: 15px;
            font-size: 10px;

            padding: 0;
            top: -5px;
            right: -5px;
            @media only screen and (min-width: 1025px) {
              font-size: 12px;
              width: 20px;
              height: 20px;
              right: -10px;
            }
          }
        }
      }
    }
  }
}

.overlay {
  background-color: $black;
  opacity: 0.6;
}

.drawer {
  &.opened {
    width: 100% !important;

    @media screen and (max-width: 768px) {
      width: 320px !important;
    }
  }

  .drawerContent {
    position: relative;
    .closeIconContainer {
      position: absolute;
      top: 12px;
      right: 0px;
      @media only screen and (min-width: 1025px) {
        top: 0;
      }

      @media screen and (max-width: 768px) {
        top: -10px;
      }

      :global(.vtex-minicart-2-x-closeIcon--minicart-v2) {
        color: white;
      }
    }

    .childrenContainer {
      .minicartSideBarContentWrapper {
        height: 100vh !important;

        .minicartTitle {
          font-size: 0;
          display: flex;
          justify-content: center;
          padding: 16px 0 16px 20px;
          background: $gray-1;
          margin: 0;
          border-bottom: 1px solid $gray-4;
          @media only screen and (min-width: 1025px) {
            padding: 20px 0 20px 20px;
          }
          &::before {
            content: "Seu carrinho";
            font-size: 14px;
            line-height: 16px;
            font-weight: 300;
            letter-spacing: 0.5px;
            color: $white;
            margin-right: 20px;
            @media only screen and (min-width: 1025px) {
              font-size: 18px;
              line-height: 130%;
            }
          }
          &::after {
            content: "";
            background-size: 18px 18px;
            height: 18px;
            width: 18px;
            display: inline-block;
          }
        }

        .minicartEmptyStateContainer {
          :global(.vtex-rich-text-0-x-paragraph) {
            font-weight: 300;
            font-size: 16px;
            line-height: 130%;
            letter-spacing: 0.04em;
            color: $black;
            text-align: center;
            padding: 0 70px;
            @media only screen and (min-width: 1025px) {
              font-size: 22px;
              line-height: 140%;
              padding: 0 50px;
            }
          }
        }

        .minicartProductListContainer {
          padding: 15px 15px 0;

          :global(.vtex-flex-layout-0-x-flexRowContent--product) {
            border: 1px solid $gray-4;
            padding: 15px;
            border-radius: 6px;
            width: 310px;

            @media screen and (max-width: 768px) {
              width: 260px;
            }
          }

          :global(.vtex-product-list-0-x-productVariationsContainer) {
            margin-top: 16px;
            :global(.vtex-product-list-0-x-productVariationsItem) {
              font-weight: bold !important;
              color: $black;
              font-size: 10px;
            }
          }

          :global(.vtex-flex-layout-0-x-flexRow--product) {
            position: relative;
            padding: 10px 0 22px;
            @media only screen and (min-width: 1025px) {
              padding: 18px 0 24px;
            }

            :global(.vtex-minicart-2-x-closeIconContainer--minicart-v2) {
              display: none !important;
            }

            :global(.vtex-product-list-0-x-removeButtonContainer) {
              position: absolute;
              top: 15px;
              right: 0;
            }
            :global(.vtex-store-components-3-x-container) {
              width: 100% !important;
            }
            :global(.vtex-product-list-0-x-productImageContainer) {
              :global(.vtex-product-list-0-x-productImageAnchor) {
              }
            }

            :global(.vtex-product-list-0-x-productName) {
              font-size: 10px;
              line-height: 16px;
              font-weight: 300;
              letter-spacing: 0.04em;
              color: $gray-1;
              text-transform: capitalize;
              margin-bottom: 8px;
              @media only screen and (min-width: 1025px) {
                font-size: 16px;
                margin-bottom: 0px;
              }
            }

            :global(.vtex-product-list-0-x-productPriceContainer) {
              :global(.vtex-product-list-0-x-productPriceCurrency) {
                font-size: 14px;
                line-height: 140%;
                font-weight: 300;
                letter-spacing: 0.04em;
                margin-bottom: 6px;
                margin: 0;
                @media only screen and (min-width: 1025px) {
                  font-size: 16px;
                  margin-bottom: 0;
                }
              }

              :global(.vtex-product-list-0-x-productPrice) {
                :global(.vtex-product-list-0-x-price) {
                  font-size: 16px;
                  line-height: 20px;
                  color: #f1b51c;
                  font-weight: bold;
                  letter-spacing: 0.04em;
                }
              }
            }

            :global(.vtex-product-list-0-x-productVariationsContainer) {
              :global(.vtex-product-list-0-x-productVariationsItem) {
                font-size: 14px;
                line-height: 140%;
                font-weight: 300;
              }
            }
          }
        }

        :global(.vtex-flex-layout-0-x-flexRow--minicart-footer) {
          box-shadow: 0px 10px 16px $black;
          padding: 23px 20px 40px;
          border: 1px solid $gray-4;

          @media screen and(max-width: 768px) {
            padding: 20px;
          }

          :global(.vtex-store-components-3-x-container) {
            width: 100%;
          }

          :global(.vtex-flex-layout-0-x-flexRowContent--minicart-footer) {
            :global(.vtex-store-link-0-x-label--keepshopping) {
              border: 2px solid $primary;
              box-sizing: border-box;
              border-radius: 4px;
              color: $primary;
              font-size: 13px;
              font-weight: bold;
              margin: 0px auto 10px;
              display: flex;
              height: 50px;
              line-height: 18px;
              align-items: center;
              justify-content: center;

              @media screen and (max-width: 768px) {
                display: none;
              }
            }

            :global(.vtex-minicart-2-x-minicartSummary) {
              @media screen and (max-width: 768px) {
                height: 40px;
              }
            }

            :global(.vtex-flex-layout-0-x-flexColChild) {
              & :first-child {
                padding: 0;
              }

              :global(.vtex-checkout-summary-0-x-summarySmallContent) {
                :global(.vtex-checkout-summary-0-x-summaryItemContainer):last-child {
                  display: none;
                }

                :global(.vtex-checkout-summary-0-x-summaryItemContainer) {
                  padding: 0;
                  width: 160px;
                  margin: 0 auto;

                  :global(.vtex-checkout-summary-0-x-summaryItemLabel) {
                    font-size: 18px;
                    line-height: 140%;
                    font-weight: 300;
                    color: $black;
                    text-transform: capitalize;
                    padding-bottom: 9px;

                    &::after {
                      content: ":";
                      font-size: 18px;
                    }
                  }
                  :global(.vtex-checkout-summary-0-x-summaryItemPrice) {
                    font-size: 18px;
                    line-height: 140%;
                    font-weight: 900;
                    color: $black;
                    text-transform: uppercase;
                    padding-bottom: 9px;
                    @media only screen and (min-width: 1025px) {
                      font-size: 16px;
                    }
                  }
                }

                & :last-child {
                  :global(.vtex-checkout-summary-0-x-summaryItemLabel) {
                    font-weight: 700;
                    font-size: 16px;
                    padding: 12px 0 15px;
                  }

                  :global(.vtex-checkout-summary-0-x-summaryItemPrice) {
                    font-weight: 700;
                    padding: 12px 0 15px;
                  }
                }
              }

              :global(.vtex-checkout-summary-0-x-summarySmallDisclaimer) {
                font-size: 0px;
                margin: 9spx 0;
                @media only screen and (min-width: 1025px) {
                  margin: 12px 0;
                }
              }

              .minicartCheckoutButton {
                margin: 0;

                :global(.vtex-button) {
                  height: 48px;
                  border-radius: 6px;
                  border: 2px solid $primary;

                  :global(.vtex-button__label) {
                    padding: 0;
                    font-size: 0;
                    &::before {
                      content: "Finalizar compra";
                      font-size: 13px;
                      line-height: 18px;
                      font-weight: bold;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
