.label {
  &--breadcrumb {
    &--home {
      font-size: 12px;
      line-height: 16px;

      color: $primary;
    }
    &--404 {
      font-size: 12px;
      line-height: 16px;
      color: $gray-2;
    }
  }
}

.link {
  text-decoration: none;
  &--breadcrumb {
    &--home {
      text-decoration: none;
    }
    &--404 {
      text-decoration: none;
      &::before {
        content: "/";
        margin: 0 2px;
        padding: 0 2px;
        display: inline-block;
        font-size: 12px;
        color: $gray-2;
      }
    }
  }

  &--return-to-home {
    background: $primary;
    border-radius: 4px;
    width: 223px;
    height: 50px;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    color: $white;

    margin-top: 1.5rem;
  }
}
