@import "../../variables/all";
.content {
  display: flex;
  flex-direction: column;
}
.notifyLabel,
.title {
  display: none;
}
.input {
  border: 1px solid $gray-4;
  box-sizing: border-box;
  border-radius: 4px;
  background: $white;
  color: $black;
}

.input :global(.vtex-input-prefix__group) {
  border: 1px solid $gray-4;
  box-sizing: border-box;
  border-radius: 4px;
  background: $white;
}
.input :global(.vtex-input-vtex-styleguide-9-x-input) {
  color: $black;
}

.submit :global(.vtex-button) {
  background: $primary;
  border-radius: 4px;
  width: 100%;
  height: 50px;
  color: $white;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
