.sliderTrackContainer {
  max-width: 1110px;
}

.paginationDotsContainer--home-shelf {
  margin-bottom: -24px;
}

@media only screen and (min-width: 769px) {
  .sliderRightArrow--shelf {
    right: 100px;
  }

  .sliderLeftArrow--shelf {
    left: 100px;
  }
}

.sliderLayoutContainer--home-shelf {
  max-width: $xxl;
  margin: 0 auto;
}

.sliderArrows--shelf {
  padding: 0;
  margin: 0;
  background: $gray-4 !important;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.caretIcon {
  width: 10px;
  width: 15px;
  color: $primary;
}

.paginationDot {
  width: 6px !important;
  height: 6px !important;
}
