@media only screen and (min-width: 768px) {
  .flexRowContent--footer-row {
    max-width: $mw-container;
    margin: 0 auto;
  }

  .flexRowContent--footer-row-1 {
    padding-top: 40px;
  }

  .flexRowContent--footer-row-2-col-2-desktop {
    align-items: center;
    justify-content: space-evenly;
  }

  .flexRowContent--footer-row-2 {
    padding-bottom: 58px;
  }
}
