.styledLinkContainer--menu-item-footer {
  margin: 0;
}

.styledLinkContent--menu-item-footer {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 25px;
}

.menuContainer--menu-footer {
  margin-bottom: 36px;
}
