.paragraph--footer-address {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
}

.paragraph--footer-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
}
