@media only screen and (max-width: 768px) {
  .wrapper.vtex-rich-text-0-x-wrapper--footer-address {
    margin-top: 25px;
    padding: 0 25px;
    text-align: center;
  }

  .paragraph--footer-address {
    line-height: 15px;
    font-weight: 400;
    font-size: 11px;
  }
}
