
<!-- partial:partials/view/_html-head.hbs -->
<!-- partial -->

<body >
  <table style="margin: auto;">
    <tbody>

      <!-- partial:partials/view/_header-logo.hbs -->
      <!-- partial -->
 
    <tr>
      <td style="padding:70px 12px 0px;">
            <div>
       
            <p style="font-weight: bold; font-size:16px;color:#3f3f40">
                Olá {{to.0.name}}.</p>
            <p style="font-size:16px;color:#3f3f40">
                Este é o código para acessar o site #Nome do site.
            </p>
            <p style="width:200px;margin:0 auto;border-bottom:1px solid #828282;letter-spacing: 12px;display:flex;justify-content:center;color:#828282;font-size:30px;margin-top:70px;margin-bottom:2rem">
                <strong style="padding-bottom: 20px">{{aditionalData.accessKey}}</strong>
            </p>
            <p style="margin-top:0px;font-size:18px;color:#333333; margin-bottom:25px">
               Para entrar na sua conta, basta inserir no formulário que ficou aberto no seu navegador. </p>
              
            <p>Qualquer dúvida, pode falar com a gente através do email: atendimento@lojaonlinehugoboss.com.br</p>
            <br>
            
     
        </td>
    </tr>
    
        <!-- partial:partials/view/_footer.hbs -->
        <!-- partial -->
     
            </tbody>
          </table>
</body>

</html>