
<!-- partial:partials/view/_html-head.hbs -->
<!-- partial -->

<body marginwidth="0" marginheight="0" bgcolor="#fff" style="padding:0px 0px;color:#333;" leftmargin="0" topmargin="0">

<table style="margin: auto;">
    <tbody>

      <!-- partial:partials/view/_header-logo.hbs -->
      <!-- partial -->
      <tr>
        <td style="padding:69px 12px 0;">

                  <p style="font-size:18px;color:#333333">Olá {{to.0.name}}.</p>
                  <p style="font-size:18px;font-weight:normal">O produto <span style="font-weight:bold;">{{productName}}</span> que você estava esperando chegou!</p>
                  <div style="margin-top: 70px;display:flex;flex-direction:column;align-items:center;">
                    <p style="width:180px;text-align:center;font-weight:bold;font-size:15px;color:#333333; margin-bottom:30px">
                      Lorem ipsum dolor sit amet, consectetur orem ipsum dolor sit amet...</p>
                    <a style="margin-bottom:70px;text-decoration:none;font-size:14px;padding:13px 20px;color:white;background:#005A8B;border-radius:2px;text-transform:uppercase;" href="{{productLink}}">Comprar Agora</a>
                  </div>
                  <p style="color:#333333;font-size:18px;">Qualquer dúvida, pode falar com a gente através do email:
                   atendimento@philipssignifyb2c.com.br</p>

          </td>
        </tr>

            <!-- partial:partials/view/_footer.hbs -->
            <!-- partial -->

            </tbody>
          </table>
  </table>

</body>

</html>
