<!-- partial:partials/view/_html-head.hbs -->
<!-- partial -->

<body>
  <table style="margin: auto ">
    <tbody>

       <!-- partial:partials/view/_header-logo.hbs -->
       <!-- partial -->

      <tr style="border: 0">
        <td style="padding: 50px 12px"><img src="https://philipssignifyb2c.vteximg.com.br/arquivos/entregarealizada.png" />
        </td>
      </tr>

      <tr style="border: 0; color: #2D2D2D;">
        <td style="padding: 0 12px 20px;">
          <p style="font-weight: 700; font-size: 20; line-height: 23px; padding-bottom: 20px;">Olá,
            {{clientProfileData.firstName}}</p>
          <p>
            <strong>Seu pedido nº {{orderId}} foi entregue</strong>
          </p>
        </td>
      </tr>
      <tr>
        <td style="padding: 0 12px;">
          <table>
            <tr>
              <td>
                <table style="width: 100%; padding: 15px 0; color:#2D2D2D">
                  <tr>
                    <td>
                      <p>
                        Caso você note divergência em algum item de sua compra, entre em contato com a gente na Central
                        de Atendimento ou pelo telefone:(11) 9999-9999. <br><br>
                        Mais uma vez agradecemos a confiança em nossos serviços e esperamos seu retorno em breve.
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>

        <!-- partial:partials/view/_footer.hbs -->
        <!-- partial -->

    </tbody>
  </table>
</body>

</html>
