 <tr>
          <td style="padding: 0 12px 34px 12px; border-bottom: 1px solid #e0e0e0;">
            <div class="info">
              <h3
                class="title_info"
                style="
                  font-style: normal;
                  font-weight: 700;
                  font-size: 20px;
                  line-height: 23px;
                  letter-spacing: -0.54px;
                  color: #333333;
                  margin-top: 30px;
                "
              >
               Atenção
              </h3>

              <ul class="circle-list" style="color: #828282; font-size: 15px; line-height: 24px; font-weight: 400;">
                <li style="color: #919191;padding-bottom: 15px;">&bull; A partir deste momento, não é permitida a
                          inclusão de novos produtos ou alteração do endereço de entrega neste pedido.</li>
                        <li style="color: #919191;padding-bottom: 15px;">&bull; Em caso de não aprovação dos dados ou não
                          confirmação do pagamento, o estoque não será reservado.</li>
                        <li style="color: #919191;padding-bottom: 15px;">&bull; Em breve entraremos em contato com informações
                          sobre pagamento e envio do seu pedido.</li>
              </ul>
            </div>
          </td>
        </tr>
