
<tr>
          <td>
            <table style="background-color: #fff;">
              <tbody>
                <tr>
                  <td style="text-align: left; padding: 70px 12px 0;">
                    <p style="margin-bottom: 24px;">Atenciosamente,</p>
                    <img src="https://philipssignifyb2c.vteximg.com.br/arquivos/logopadraoemail.png" style="width: 90px; margin-bottom: 24px;" />
                    <p>atendimento@philipssignifyb2c.com.br<br/>0800 123 45678</p>
                    <img src="https://philipssignifyb2c.vteximg.com.br/arquivos/logopadraoemail.png" style="width: 90px; margin-bottom: 10px;" />
                    <p>email@email.com.br</p>
                    <p>0800 123 45678</p>
                    <p style="margin-bottom: 70px;"></p>
                  </td>
                </tr>
                <tr style="background: #005A8B;">
                  <td>
                    <table>
                      <tbody>
                        <tr>
                          <td style="text-align: center; color: #fff; border-top: 1px solid #EDEDED; padding: 50px 0;">
                            <p style="margin-bottom: 11px;font-weight:bold; font-size: 18px; line-height: 20px;">Atendimento</p>
                            <p style="font-size: 15px; line-height: 20px; font-size:26px">11 9999-9999</p>
                            <p style="margin-bottom: 22px; font-size: 18px; line-height: 20px;">Atendimento</p>
                            <p style="font-size: 15px; line-height: 0px; font-size:26px">0000-0000</p>
                          </td>
                        </tr>
                        <tr>
                          <td style="text-align: center; color: #fff; margin-bottom: 50px;">
                            <p style="margin-bottom: 15px;">Formas de Pagamento</p>
                            <img style="margin-bottom: 50px; width: 100%; max-width: 192px;" src="https://philipssignifyb2c.vteximg.com.br/arquivos/bandeiradecartoes.png" alt="Métodos de pagamento">
                            <p style="margin-bottom: 15px;">Formas de Pagamento</p>
                            <img style="margin-bottom: 50px; width: 100%; max-width: 192px;" src="https://philipssignifyb2c.vteximg.com.br/arquivos/pagamentos.png" alt="Métodos de pagamento">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr style="background: #005A8B;">
                  <td style="text-align:center;">
                    <p style="max-width: 376px; font-size: 15px; line-height: 24px; color: #fff;margin: auto; margin-bottom: 50px; padding: 20px 32px 0 32px;font-weight: 300; font-size: 13px;">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                    </p>
                     <p style="margin-bottom:50px">
                      <img src="https://philipssignifyb2c.vteximg.com.br/arquivos/logoinfraemail.png" style="width:
105px;" />
                      <img src="https://philipssignifyb2c.vteximg.com.br/arquivos/logoinfraemail.png" style="width: 105px;" />
                    </p>

                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
