<tr style="background: #005A8B;
      height: 100px;">
        <td style="text-align: center; margin-top: 23px;">
          <img src="https://philipssignifyb2c.vteximg.com.br/arquivos/logopadraoemail.png" style="width: 135px" />
        </td>
</tr>
