.flexRow--t1-department,
.flexRow--t1-dep-menu-mobile {
  width: 100%;
  padding-top: 20px;
}

.flexCol--t1-dep-menu-mobile {
  height: 60px;
}

.t1-dep-menu-mobile {
  border-bottom: 1px solid $gray-4;
}

.flexColChild--t1-department {
  min-height: 60px;
}
